/* =================================== FM */

.FM_title {
	font-style: normal !important;
}

.FM_copy {
	font-size: 0.9em;
}

.FM_show {cursor: pointer;}

#FM_curtain {
	position: fixed;
	display: none;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background:rgba(255,255,255,0.75);
	z-index:5000;
}

	#FM_curtain.transparent {
		z-index:5;
		background: transparent;
	}

#FM_close_curtain {
	position: fixed;
	display: none;
	top:0px;
	right:0px;
	background: transparent;
	width: 48px;
	height: 48px;
	z-index:5500;
	font-size: 50px;
}
	
#FM_layer {
	position: absolute;
	display: block;
	top:-9999px;
	left:-9999px;
	margin:0 auto;
	background: transparent none;
	width: 100%;
	height: auto;
	z-index: 5100;
	-moz-transition: width height opacity .15s ease-out;
	-webkit-transition: width height opacity .15s ease-out;
	-o-transition: width height opacity .15s ease-out;
	-ms-transition: width height opacity .15s ease-out;
	transition: width height opacity .15s ease-out;
}

	#FM_uber_wrap {
		position: relative;
		width: 90%;
		max-width: 1200px;
		margin:0 auto 1em;
		background: transparent none;
	}
	
		#FM_wrap {
			position: relative;
			width: 90%;
			max-width: 1000px;
			min-width: 300px;
			min-height: 150px;
			margin:1em auto 0;
			background: #fff url(img/ajax-loader.gif) no-repeat center center;
			overflow: hidden;
		}
		
			#FM_wrap img {
				position: relative;
				display: block;
				margin:0 auto;
				width: 100%;
				max-width: 100%;
			}
		
		.FM_message {
			background: #000;
			padding: 2em;
			margin:0 auto;
			line-height: 1.4em;    
			min-height: 100px;
			overflow: hidden;
		}
			
			/*  do we want to limit the size of the image to it's original width ? 
			#FM_wrap img {
				width: auto;
				margin: 0 auto;
			}
			*/
		
		.FM_nav {
			position: absolute;
			display: block;
			width: 5%;
			height: 100%;
			top:0px;
			opacity: 0.25;
			background-repeat: no-repeat;
			background-position: center 45%;
			background-size: 76.9% auto;
			-moz-transition:opacity 0.3s ease;
			-webkit-transition:opacity 0.3s ease;
			-o-transition:opacity 0.3s ease;
			-ms-transition:opacity 0.3s ease;
			transition:opacity 0.3s ease;
		}
		
			.FM_nav:before {
				position: absolute;
				top:48%;
				font-size: 2em;
				display: inline-block;
				color:#fff;
			}
		
			.FM_nav:hover {opacity: 1;}
		
			#FM_prev {left:0px;}
				#FM_prev:before {content : '\3008';}
			
			#FM_next {right:0px;}
				#FM_next:before {
					content : '\3009';
					left: 35%;
				}
			
		#FM_nav_wrap {
			width: 90%;
			max-width: 1000px;
			min-width: 100px;
			margin: -1px auto;
			line-height: 1.4em;
		}		
						
			#FM_caption {
				padding: 1em 7em 1em 1em;
				background-color: #fff;
				font-style: italic;
			}
		
			#FM_subnav_wrap {
				background: #fff;
				padding:0.75em 7em 0.5em 0.5em;
				text-align: center;
			}
			
				.FM_subnav_button {
					cursor: pointer;
					display: inline-block;
					padding: 0.25em 0.5em;
					margin:0 0.1em 0.2em;
					line-height: 1;
					background: rgba(0,0,0,0.1);
				}
				
					.FM_subnav_button.active {
						cursor: default;
						background: rgba(0,0,0,0.25);
					}
		
			#FM_pagemarker {
				position: absolute;
				top:1em;
				right:0.5em;
			}
			
			#FM_subnav_wrap,
			#FM_pagemarker {display: none !important;}
	
	
figure.FM_figure {margin:0 0 1em;}

/* @todo : revisit these blurry things */

.blurry * {
	color:rgba(255,255,255,0) !important;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.9) !important;
	border-color: transparent !important;
}
	.blurry img,
	.blurry video {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	} 